*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

.container1{
    min-height: 700px;
    width: 100%;
}

nav{
    height: 90px;
    width: 100%;
    font-size: 18.5px;
}

.navbar-brand{
    padding-left: 20px;
   
}
  

.d-flex{
    margin-right: 100px;
}
.me-2{
    width: 40%;
}

.cent{
    width: 50%;
    min-height: 500px;
    margin-left: 250px;
    padding: 45px;
}

.form-group{
    font-size: 22px;
    margin-top: 13px;
}

.llb{
    padding-bottom: 10px;
}


.intt{
    border: 5px solid black;
}

h3{
    margin-left: 250px;
}
